<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
<ion-content class="page">
  
  <div class="txt">
    
    <p >Crea un partido de volley</p>
   </div> 
<div class="img">
  <img class="imagenp" src="https://img.freepik.com/vector-gratis/silueta-voleibol-dibujada-mano_23-2149406906.jpg" width="auto" height="50%" alt="">
</div>
  <div class="login-container">

    
    <form action="" class="form" method="post">
     
  <hr>
  <label class="text"  for="eq1">Equipo #1:</label>
      <select  name="equipo1" [(ngModel)]="equipo1" id="colores" name="color">
        <option *ngFor="let color of filteredColors" [value]="color" value="1E1" class="gradeOp" >{{ color }}</option>
        
      </select>
<hr>
      <label class="text"  for="eq2">Equipo #2:</label>
      <select  name="equipo2" [(ngModel)]="equipo2" id="colores" name="color">
        <option *ngFor="let color of filteredColors" [value]="color" value="1E1" class="gradeOp" >{{ color }}</option>
        

      </select>
      <hr>
      <label class="text" id="etap"  for="etape">Etapa:</label>
      <select id="etaplab" name="etapa" [(ngModel)]="etapa">
        <option class="etape"  disabled selected>Selecciona una etapa del torneo:</option>
        <option value="Final"  class="gradeOp" >Final</option>
        <option value="Semifinal" class="gradeOp" >Semifinal</option>
        <option value="Cuartos de Final" class="gradeOp">Cuartos de final</option>
        <option value="Octavos de final"  class="gradeOp">Octavos de final</option>
        <option value="Fase de Grupos" class="gradeOp">Fase de grupos</option>
      </select>
      <hr>
      <label class="text"  for="fech">Fecha:</label>
      <input type="date" id="fecha" name="fecha" [(ngModel)]="fecha"  required>
      <hr>
      <label class="text"  for="hora">Hora de inicio:</label>
      <input type="time" id="hourIn" [(ngModel)]="hora" name="hour" required>
      <hr>
      <label class="text"  for="hora">Lugar:</label>
      <select id="etaplab" name="ubi" [(ngModel)]="ubi" >
        <option class="etape"  disabled selected>Selecciona una cancha:</option>
        <option value="Cancha principal (sintética)" class="gradeOp">Cancha principal (sintética)</option>
        <option value="Cancha Coliseo" class="gradeOp">Cancha Coliseo</option>
        <option value="Cancha Cubierta" class="gradeOp">Cancha Cubierta</option>
        <option value="Cancha de Arena" class="gradeOp">Cancha de Arena</option>
        <option value="Cancha trasera Basquet 1" class="gradeOp">Cancha trasera Basquet 1</option>
        <option value="Cancha trasera Basquet 2" class="gradeOp">Cancha trasera Basquet 2</option>
        <option value="Cancha trasera Basquet 3" class="gradeOp">Cancha trasera Basquet 3</option>
        <option value="Cancha trasera Futbol" class="gradeOp">Cancha trasera Futbol</option>
        <option value="Cancha trasera Volleyball 1" class="gradeOp">Cancha trasera Volleyball 1</option>
        <option value="Cancha trasera Volleyball 2" class="gradeOp">Cancha trasera Volleyball 2</option>
        <option value="Cancha Volleyball 1" class="gradeOp">Cancha Volleyball 1</option>
        <option value="Cancha Volleyball 2" class="gradeOp">Cancha Volleyball 2</option>
        <option value="Cancha Volleyball 3" class="gradeOp">Cancha Volleyball 3</option>
        <option value="Cancha Basquetball" class="gradeOp">Cancha Basquetball</option>
      </select>
      <hr>


      <hr>
     

      <input class="inc" (click)="crearPartido()" type="submit" value="Crear Partido">
        <input (click)="goBack()" class="reg" type="submit" value="Cancelar">



    </form>


  </div>



</ion-content>