.torneo{
    width: 80%;
    height: 7rem;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;

}

.txt{
    display: flex;
    justify-content: center;
}

.fab{
    margin-top: 35rem;
    margin-bottom: 2rem;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}


.grass{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}
#fecha{
    opacity: 0.7;
}

.circle{
    width: 28rem;
    height: 29rem;
    border-radius: 100%;
    background-color:  rgb(218, 95, 64);
    position: absolute;
    top: -7rem;
    z-index: -1;
    
}


ion-content{
    --ion-background-color:rgba(255, 255, 255, 0.253);
}

.circle1{
    width: 31rem;
    height: 31rem;
    border-radius: 100%;
    background-color:  rgba(218, 95, 64, 0.797);
    position: absolute;
    top: -7rem;
    z-index: -2;
}

.circle2{
    width: 34rem;
    height: 34rem;
    border-radius: 100%;
    background-color:  rgba(218, 95, 64, 0.581);
    position: absolute;
    top: -8rem;
    z-index: -3;
}


.uno{
    position: absolute;
    top: 24.5rem;
    left: 20rem;

}

.dos{
    position: absolute;
    top: 33.5rem;
    left: 20rem;
    border-radius: 100%;
}

.topp{
    text-align: center;
    width: 70%;
    }

.back{
    position: absolute;
    left: 1rem;
    top: 1rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
}

.btnback{
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: #10dc6200;
}

.container{
    display: flex;

align-items: center;
    flex-direction: column;
    width: 99%;
}


.tres{
    position: absolute;
    top: 42.5rem;
    left: 20rem;
    border-radius: 100%;
}

.title{

    font-family: 'Poppins', sans-serif;
color: white;
    font-size: 2rem;

}

.imagen{
    width: 15rem;

    margin-bottom: 1rem;
}

.tour{
    margin-top: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.text{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
}

.subcont{
    box-shadow: 10px 20px 0px 5px rgba(0,0,0,0.1);
    color: white;

    margin-left: -2.5rem;
    width: 90%;
    height: auto;
    text-align: start;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: rgb(218, 95, 64);
    padding: 1rem;
}

.subcont1{
    margin-right: -2.5rem;
    box-shadow: 0px 20px 0px 5px rgba(0,0,0,0.1);
color: white;
    width: auto;
    height: auto;
    align-self: flex-end;
    margin-right: 0rem;
    text-align:right;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    background-color: rgb(218, 95, 64);
    padding: 1rem;
}

.subcont3{
    color: white;

    display: flex;
    box-shadow: 10px 20px 0px 5px rgba(0,0,0,0.1);

    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 5rem;
    background-color: rgb(218, 95, 64);
    padding: 1rem;
}

.txt{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#txt2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
   margin-left: 3rem;
}