.date{
    font-size: 0.8rem;
    opacity: 0.8;
  
}

.torneo{
    font-style: italic;
    font-size: 0.8rem;
}

.logo{
    margin-left: 0.7rem;
}

#livee{
    width: 7rem;
}

#live{
    margin-left: 90%;
    margin-bottom: -1rem;
    width: auto;
    height: auto;
}

.facebook{
    margin-top: 0.5rem;
}


.alert-con-imagen .alert-message {
    display: flex;
    align-items: center;
  }
  
  .alert-con-imagen img {
    width: 50%;
    height: auto;
    margin-right: 10px;
  }

.torneo{
    width: 5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    align-self: flex-start;
    left: 0.7rem;
    top: 0.8rem;
    padding: 0;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 2rem;
    width: 100%;
    height: 2rem;
}

.nametour{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.torname{
    font-size: 2rem;
 
}

ion-content{
    --ion-background-color:rgba(93, 142, 228, 0.418);
}

.name{
    font-size: 1rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
}