<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="cont">
<div class="circle"></div>
<div class="circle1"></div>
<div class="circle2"></div> 
  </div>
<div class="container">
  <div class="topp"><h2 class="title">{{name}}</h2></div>
  <div class="back"><button routerLink="/home-est" class="btnback"><ion-icon color="light" size="large" name="arrow-back-outline"></ion-icon></button></div>

  <div class="imagen">
    <img [src]="url" alt="">
  </div>
<div class="tour">
  <div class="subcont">
  <ion-label class="text">Descripcion</ion-label>
  <ion-label class="txt">{{desc}}</ion-label>
</div>
<hr>

<div class="subcont1">

<ion-label class="text">Lugar</ion-label>
<ion-label id="txt2">{{lugar}}</ion-label>
</div>
<hr>
<div class="subcont3">

<ion-label class="text">Fecha</ion-label>
<ion-label class="txt">{{fecha}}</ion-label>
</div>




</div>
</div>


</ion-content>