<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-icon routerLink="/home-est" slot="start" name="arrow-back-circle-outline" size="large"></ion-icon>
    <ion-title slot="">Memorias UETS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="container">
  <ion-card color="light" *ngFor="let imagen of imagenes" >
    <img alt="Memoria"  [src]="imagen.url"/>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{imagen.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</div>
</ion-content>
