ion-card-title.ion-text-center {
    text-align: center;
  }

  ion-content{

    --ion-background-color:#0485ca;
  }

  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .delete{
    margin-left: 40%;
  }